:root {
  --var-p0: #deeeff;
  --var-p1: #9fceff;
  --var-p2: #7bbcff;
  --var-p3: #5aabff;
  --var-p4: #2d93fd;
  --var-p5: #007dff;
  --var-p6: #1876d7;
  --var-p7: #2566aa;
  --var-p8: #28598c;
  --var-p9: #25425f;
  --var-p10: #202d3a;
  --var-p11: #1a2128;
  --var-p12: #16191d;
  --var-p13: #0e0f10;
}
