.parceiros {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
}
.parceiros h2 {
  padding-bottom: 40px;
}
.parceiros-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px 53px;
}
.parceiros-img img {
  max-width: 200px;
  flex: 1;
}
